@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Urbanist:wght@200&display=swap');
:root
{
    --raleway:'Raleway', sans-serif;
    font-size: 10px;
}
body
{
    font-family: var(--raleway);
}
.box
{
    margin: 0 auto;
    width: 60%;
}
.box__title
{
    font-weight: 700;
    font-size: 3rem;
    border-bottom: solid 1px black;
    padding-bottom: 2rem;
}